.header {
    margin-top: 8px;
    .logoScore {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0 5px;
        .logo {
            img {
                width: 200px;
            }
        }
    }
}